/* general */
/* fix buttons visibility bug caused by dark mode */
input[type="submit"],
input[type="button"],
select {
    color: lightseagreen;
}

/* stackoverflow */
/* hide cookies banner that can't be closed because js is disabled*/
.js-consent-banner{display:none}

/* ticktick */
/* fix caret color and size */
.CodeMirror-cursor {
    border-left-color: #00ffff !important;
    border-left: 2px solid;
}

/* meduza */
/* banner with app promotion */
.Layout-module-banner {display:none;}
/* banner about "foreign agent" */
#div-gpt-ad {display:none;}
/* fix dark mode color */
.Popover-module_body__3h5UO {
    color: darkturquoise;
}

/* genius lyrics*/
/* ad */
*[data-exclude-from-selection="true"] {display:none;}
/* annotate popup */
button.LyricsHighlightTooltip__Container-sc-16s2xh1-0 {display:none;}


/* gismeteo */
/* ad, news */
body.project-weather > section.content > .column2,
body.project-weather > section.content > .column3,
body.project-weather > section.content > .column1 > .section-media,
body.project-weather > section.content > .column1 > .section-rss {
    display:none
}

/* racket docs */
/* code blocks */
.SVInsetFlow > table {
    background: #232323;
}
/* side panel */
.tocset {
    background-color: rgb(53 53 53);
}
.navsettop {
    background: rgb(53 53 53);
}

/* github */
/* fix checkboxes color (very dirty hack) */
input[type=checkbox][disabled].task-list-item-checkbox  {
    width:0px;
    height:0px;
}
input[type="checkbox"][disabled].task-list-item-checkbox:before {
    content:'\e013';
    position:absolute;
    margin-top:-12px;
    margin-left:-5px;
    font-family: 'Glyphicons Halflings';
}
input[type=checkbox][disabled][checked].task-list-item-checkbox:after {
    content:'x';
    position:absolute;
    color: red;
    margin-top:-12px;
    margin-left:-4px;
}

/* wikipedia and wiktionary */
/* header background */
#mw-page-base {
    background-image: none;
}
/* header buttons */
.mw-list-item {
    background-image: none !important;
}
/* spoilers */
.NavFrame .NavHead {
    background-image: none !important;
}
/* new sidebar bottom glow */
.vector-toc.vector-pinnable-element:after {
    background: none !important;
}

/* habr */
/* recommended articles */
.tm-page__sidebar > .tm-layout-sidebar {display:none;}

/* fb.ru ad */
.innerbox__bar-list{display:none;}
