/* general */
/* fix buttons visibility bug caused by dark mode */
input[type="submit"],
input[type="button"],
select {
    color: lightseagreen;
}

/* stackoverflow */
/* hide cookies banner that can't be closed because js is disabled*/
.js-consent-banner{display:none}

/* ticktick */
/* fix caret color and size */
.CodeMirror-cursor {
    border-left-color: #00ffff !important;
    border-left: 2px solid;
}

/* meduza */
/* banner with app promotion */
.Layout-bannerTop {display:none;}
/* banner about "foreign agent" */
#div-gpt-ad {display:none;}
/* fix dark mode color */
.Popover-module_body__3h5UO {
    color: darkturquoise;
}

/* genius lyrics*/
/* ad */
*[data-exclude-from-selection="true"] {display:none;}

/* gismeteo */
/* ad, news */
body.project-weather > section.content > .column2,
body.project-weather > section.content > .column3,
body.project-weather > section.content > .column1 > .section-media,
body.project-weather > section.content > .column1 > .section-rss {
    display:none
}
