/* vim: set filetype=css: */

* {
    font: "Hack 12";
    text-color: #eeeeee;
    background-color: black;
}

window {
    location: north;
    width: calc(100% / 3);

    border: 1px;
    border-color: gray;
}

mainbox {
    children: [inputbar, message];
}

inputbar {
    children: [entry];

    margin: 0 0 1px 0;
}

entry {
    placeholder: "Type expression";

    background-color: #222222;

    padding: 5px 0 5px 10px;
}

message {
    padding: 10px 0 5px 0;
}
